@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    height: 100vh;
}

.wrapper {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 2rem;
}

.header img {
    width: 190px;
    padding-bottom: 20px;
}

.main {
    display: flex;
    align-items: center;
    gap: 40px;
}

.title {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

.subtitle {
    color: #fff;
    line-height: 1.8;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 30px;
}

.content a {
    display: inline-block;
    padding: 15px 50px;
    border-radius: 35px;
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .8);
    transition: all .3s ease;
}

.content a:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
}

.social {
    text-align: right;
}

.social a i {
    color: #fff;
    font-size: 20px;
    position: relative;
}

.social a:not(first-child) {
    margin-left: 2rem;
}

.social a i:hover {
    color: hsl(300, 69%, 71%);
}

@media only screen and (max-width:1440px) {
    .image img {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .main {
        flex-direction: column;
        text-align: center;
    }

    .social {
        text-align: center;
        margin-top: 50px;
    }

    .content a {
        padding: 10px 70px;
    }
}